<div class="container">
  <p id="notice"><%= notice %></p>

  <h1><%= @cocktail.name %></h1>

  <p>
    <strong>Name:</strong>
    <%= @cocktail.name %>
  </p>

  <p>
    <strong>Ingredients:</strong>
  </p>
    <% @doses.each do |dose| %>
      <p>
        <%= dose.description %>
        <%= dose.ingredient.name %>
      </p>
    <% end %>

  <p>
    <%= link_to 'Add Ingredient', new_cocktail_dose_path(@cocktail) %>
  </p>

  <%= link_to 'Back', cocktails_path %>
</div>
